[submodule "RAL/vendor/glfw"]
	path = RAL/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "RAL/vendor/glm"]
	path = RAL/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "RAL/vendor/glad"]
	path = RAL/vendor/glad
	url = https://github.com/ondranedo/glad
